{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}        
<section id="content" class="body">    
<article>
<div class="blog_post">
    <header><div class="pagetitle"><span class='maintitle'>
            <a href="{{article.url}}" rel="bookmark" title="Permanent Link to {{article.title}}">{{article.title}}</a>
    </span></div></header>

    <div class="maintext">
        {{ article.content }}
        {% if DISQUS_SITENAME %}
        <div class="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}
    </div>
</div>
</article></section>
{% endblock %}

{% block menu_content %}
    <p>{{ article.date.strftime('%a %d %b %y')}}<br>
    {% if article.previous_article %}
        <span class="gray"><a href="{{ article.previous_article.url }}">Prev</a>&nbsp; 
    {% else %}
        <span class=black>&mdash;</span>
    {% endif %}

    <span class="greenish">&#8214;</span> &nbsp;
    <span class="black">{{ article.article_number }}</span>&nbsp; 
    <span class="greenish">&#8214;</span> &nbsp;

    {% if article.next_article %}
        <span class="gray"><a href="{{ article.next_article.url }}">Next</a>&nbsp; 
    {% else %}
        <span class=black>&mdash;</span>
    {% endif %}
        </span></p>
{% endblock %}
