<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% include "head.html" %}
  </head>
  <body>
    <div class="mainwrapper container">
        <div class='topspace span-24 last'></div>

        <div class="prepend-3 span-5">
            {% include "header.html" %}
            <div class="span-5 menu">
                {% block menu_content %}{% endblock %}
                <span class="gray">
                    <a href="{{ SITEURL }}/archives.html">Archives by dates</a><br/>
                    <a href="{{ SITEURL }}/categories.html">Archives by categories</a><br>
            </span>
        </div>
        </div>

      <div class="text_block prepend-2 span-12 append-1 last">
        <div id="prose_block" class='span-12'>
            {% block content %}
            {% endblock %}
        </div><!-- End Prose Block -->
      </div><!-- End Text Block -->

      <div class="footer prepend-5 span-14 postpend-5 last">
        {% include "footer.html" %}
      </div> <!-- End Footer -->
    </div> <!-- End Content -->
  </body>
</html>
