<div id="credits">
    <span class='smallgray'>
        Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">pelican</a>
    </span>
    &nbsp; &nbsp;
    <span class='smallgray'>RSS feeds for <a clss='smallgray' href="{{ SITEURL }}/{{ FEED }}" >Entries</a>
        {% if DISQUS_SITENAME %}
        and <a
            href="http://{{ DISQUS_SITENAME }}.disqus.com/latest.rss">Comments</a>.
        {% endif %}
    </span>
</div>

{% if DISQUS_SITENAME %}
<script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     }());
</script>
{% endif %}
