body {
	background-color: #666666;
	font-family: 'Open Sans', "lucida grande", "lucida sans", verdana, sans-serif;
	color: black;
	font-size: 10pt;
	line-height: 1.6em; }

div.mainwrapper {
	background-color: #FFFFFF;
}
/* Fonts */

div.topspace{
    margin-top: 4em;
}

div.pagetitle{
    margin-top:3em;
}

div.maintext, div.menu{
    margin-top:4em
}

div.footer{
    margin-top:2em
}

.archive_subtitle{
    display:block;
}
  
span.large {
	font-size: 11pt; }
  
div.small {
	font-size: 8pt; }
  
span.small {
	font-size: 8pt; }
  
span.gray {
	color: #7F7F7F }
  
span.smallgray {
	font-size: 8pt;
	color: #7F7F7F }
  
span.black {
	color: #000000 }
  
span.white {
	color: #FFFFFF }
  
span.greenish {
	color: #2E8B57 }
  

/* Links */
a { text-decoration: none }
a:link { color: black }
a:visited { color: black }
a:active { color: red }
a:hover { color: #2E8B57 }

span.gray a:link { color: #7F7F7F }
span.gray a:visited { color: #7F7F7F }
span.gray a:hover { color: #2E8B57 }

span.smallgray a:link { color: #7F7F7F }
span.smallgray a:visited { color: #7F7F7F }
span.smallgray a:hover { color: #2E8B57 }

span.greenish a:link { color: #2E8B57 }
span.greenish a:visited { color: #2E8B57 }
span.greenish a:hover { color: black }

.list_date { margin-left: 27em;
             display: block;
             margin-bottom:0.5em;
            }
.list_text { width: 27em;
             display: block;
             margin-bottom:0.5em;
             float:left;
             clear:left;
            }
.archive_subtitle {
    margin-top:3em;
    clear:left;

         }
#credits{
    text-align:center;
}
