body {
	background-color: #666666;
	font-family: 'Droid Serif', "lucida grande", "lucida sans", verdana, sans-serif;
	color: black;
	font-size: 10pt;
	line-height: 1.6em; }


div.mainwrapper {
	position: relative;
	display: block;
	width: 64.0em;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
  
p {
	margin-top: 0em;
	margin-bottom: 1.6em; }

h3, h4, h5, h6 {
    margin-bottom:0em;

    }
img {
    width: 140%;
    margin-left: -40%;
}

/* Tables */

table {
	margin: 0em;
	padding: 0em;
	border: 0px;
	border-style: none;
	border-spacing: 0px; }

td {
	margin: 0em;
	padding: 0em;
	border: 0px;
	border-style: none;
	border-spacing: 0px;
	}
/* Positions */
  
div.maintitle {
	position: absolute;
	top: 4.0em;
	left: 4.8em; }
  
div.subtitle {
	position: absolute;
	top: 6.4em;
	left: 4.8em; }
  
div.pagetitle {
	position: absolute;
	top: 6.4em;
	width:32em;
	left: 28.8em; }
  
nav {
	position: absolute;
	top: 16.0em;
	left: 4.8em; }

div.maintext { 
	position: relative;
	left: 28.8em;
	width: 32em;
	padding-right: 0.2em;
	padding-top: 16.0em;
	padding-bottom: 4.8em; }

div#disqus { 
	position: relative;
	left: 28.8em;
	width: 32em;
	padding-bottom: 4.8em; 
    }


p.section {
	position: relative;
	float: left;
	margin-left: -4.0em;
	margin-bottom: 1.6em;
	width: 34.4em;
	font-size: 11pt;}

/* Fonts */

span.maintitle {
	font-size: 15pt; }

.archive_subtitle{
    display:block;
}
  
span.large {
	font-size: 11pt; }
  
div.small {
	font-size: 8pt; }
  
span.small {
	font-size: 8pt; }
  
span.gray {
	color: #7F7F7F }
  
span.smallgray {
	font-size: 8pt;
	color: #7F7F7F }
  
span.black {
	color: #000000 }
  
span.white {
	color: #FFFFFF }
  
span.greenish {
	color: #2E8B57 }
  



/* Links */

a { text-decoration: none }
a:link { color: black }
a:visited { color: black }
a:active { color: red }
a:hover { color: #2E8B57 }

span.gray a:link { color: #7F7F7F }
span.gray a:visited { color: #7F7F7F }
span.gray a:hover { color: #2E8B57 }

span.smallgray a:link { color: #7F7F7F }
span.smallgray a:visited { color: #7F7F7F }
span.smallgray a:hover { color: #2E8B57 }

span.greenish a:link { color: #2E8B57 }
span.greenish a:visited { color: #2E8B57 }
span.greenish a:hover { color: black }

.list_date { margin-left: 27em;
             display: block;
             margin-bottom:0.5em;
            }
.list_text { width: 27em;
             display: block;
             margin-bottom:0.5em;
             float:left;
             clear:left;
            }
.archive_subtitle {
    margin-top:3em;
    clear:left;

         }
#credits{
    text-align:center;
}
